<section class="py-12 min-h-screen">
  <div class="max-w-5xl mx-auto px-4">
    <div class="bg-white rounded-2xl shadow-lg border border-gray-100 p-8">

      <div class="flex justify-end mb-6">
        <div class="inline-flex items-center space-x-2 text-sm">
          <%# <%= link_to "V1", url_for(params.permit!.merge(layout: 'v1')), class: "px-4 py-2 rounded-lg border #{params[:layout] == 'v1' || params[:layout].blank? ? 'bg-primary text-white border-primary' : 'bg-white text-gray-700 border-gray-300 hover:bg-gray-100'} transition" %>
          <%# <%= link_to "V2", url_for(params.permit!.merge(layout: 'v2')), class: "px-4 py-2 rounded-lg border #{params[:layout] == 'v2' ? 'bg-primary text-white border-primary' : 'bg-white text-gray-700 border-gray-300 hover:bg-gray-100'} transition" %>
          <%# <%= link_to "V3", url_for(params.permit!.merge(layout: 'v3')), class: "px-4 py-2 rounded-lg border #{params[:layout] == 'v3' ? 'bg-primary text-white border-primary' : 'bg-white text-gray-700 border-gray-300 hover:bg-gray-100'} transition" %>
          <%# <%= link_to "V4", url_for(params.permit!.merge(layout: 'v4')), class: "px-4 py-2 rounded-lg border #{params[:layout] == 'v4' ? 'bg-primary text-white border-primary' : 'bg-white text-gray-700 border-gray-300 hover:bg-gray-100'} transition" %>
        </div>
      </div>

      <!-- Contenido dinámico -->
      <%= render "job_offers/layouts/v1", job_offers: @job_offers %>


      <!-- Sin resultados -->
      <% if @job_offers.empty? %>
        <div class="text-center text-gray-500 py-8">No se encontraron resultados.</div>
      <% end %>

      <!-- Paginación -->
      <% if @job_offers.total_pages > 1 %>
        <div class="mt-8 flex justify-center">
          <%= paginate @job_offers, theme: 'tailwind' %>
        </div>
      <% end %>
    </div>
  </div>
</section>
