<%= paginator.render do %>
  <nav class="flex items-center justify-between">
    <div class="flex-1 flex justify-between sm:hidden">
      <%= first_page_tag unless current_page.first? %>
      <%= prev_page_tag unless current_page.first? %>
      <%= next_page_tag unless current_page.last? %>
      <%= last_page_tag unless current_page.last? %>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-center">
      <div>
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
          <%= first_page_tag unless current_page.first? %>
          <%= prev_page_tag unless current_page.first? %>
          <% each_page do |page| %>
            <% if page.display_tag? %>
              <%= page_tag page %>
            <% elsif !page.was_truncated? %>
              <%= gap_tag %>
            <% end %>
          <% end %>
          <% unless current_page.out_of_range? %>
            <%= next_page_tag unless current_page.last? %>
            <%= last_page_tag unless current_page.last? %>
          <% end %>
        </nav>
      </div>
    </div>
  </nav>
<% end %> 